## New Category Check

This check helps us to identify whether the new category have been added inside test data. This check works with categorical data only.

In [1]:
import pandas as pd

from deepchecks.tabular import Dataset
from deepchecks.tabular.checks.integrity import CategoryMismatchTrainTest

### Example 1

Generate Data

In [2]:
train_data = {"col1": ["somebody", "once", "told", "me"] * 10}
test_data = {"col1": ["the","world","is", "gonna", "role", "me","I", "I"] * 10}
train = Dataset(pd.DataFrame(data=train_data), cat_features=["col1"])
test = Dataset(pd.DataFrame(data=test_data), cat_features=["col1"])

In [14]:
train.data.head()

  col1 col2
0    a    a
1    b    b
2    a    b
3    c    q
4    a    a

In [15]:
test.data.head()

  col1 col2
0    a    a
1    b    2
2    d    1
3    a    a
4    b    2

Call CategoryMismatchTrainTest from deepcheeks

In [7]:
CategoryMismatchTrainTest().run(train, test)

VBox(children=(HTML(value='<h4><b>Category Mismatch Train Test</b></h4>'), HTML(value='<p>Find new categories â€¦

### Example 2

Generate Data

In [8]:
train_data = {"col1": ["a", "b", "a", "c"] * 10, "col2": ['a','b','b','q']*10}
test_data = {"col1": ["a","b","d"] * 10, "col2": ['a', '2', '1']*10}
train = Dataset(pd.DataFrame(data=train_data), cat_features=["col1","col2"])
test = Dataset(pd.DataFrame(data=test_data), cat_features=["col1", "col2"])

In [17]:
train.data.head()

  col1 col2
0    a    a
1    b    b
2    a    b
3    c    q
4    a    a

In [18]:
test.data.head()

  col1 col2
0    a    a
1    b    2
2    d    1
3    a    a
4    b    2

Call CategoryMismatchTrainTest from deepcheeks

In [12]:
CategoryMismatchTrainTest().run(train, test)

VBox(children=(HTML(value='<h4><b>Category Mismatch Train Test</b></h4>'), HTML(value='<p>Find new categories â€¦