In [4]:
import pandas as pd

from deepchecks.tabular import Dataset
from deepchecks.tabular.checks.integrity import NewLabelTrainTest

In [5]:
test_data = {"col1": [0, 1, 2, 3] * 10}
val_data = {"col1": [4, 5, 6, 7, 8, 9] * 10}
test = Dataset(pd.DataFrame(data=test_data), label="col1", label_type="classification_label")
val = Dataset(pd.DataFrame(data=val_data), label="col1", label_type="classification_label")

It is recommended to initialize Dataset with categorical features by doing "Dataset(df, cat_features=categorical_list)". No categorical features were passed, therefore heuristically inferring categorical features in the data.
0 categorical features were inferred
It is recommended to initialize Dataset with categorical features by doing "Dataset(df, cat_features=categorical_list)". No categorical features were passed, therefore heuristically inferring categorical features in the data.
0 categorical features were inferred

In [6]:
NewLabelTrainTest().run(test, val)

VBox(children=(HTML(value='<h4><b>New Label Train Test</b></h4>'), HTML(value='<p>Find new labels in test.</p>…

In [4]:
test.data

    col1
0      0
1      1
2      2
3      3
4      0
5      1
6      2
7      3
8      0
9      1
10     2
11     3
12     0
13     1
14     2
15     3
16     0
17     1
18     2
19     3
20     0
21     1
22     2
23     3
24     0
25     1
26     2
27     3
28     0
29     1
30     2
31     3
32     0
33     1
34     2
35     3
36     0
37     1
38     2
39     3

In [7]:
test_data = {"col1": ["a", "b", "a", "c"] * 10, "col2": [1,2,2,3]*10}
val_data = {"col1": ["a","b","d"] * 10, "col2": [1, 4, 5]*10}
test = Dataset(pd.DataFrame(data=test_data), label="col2", label_type="classification_label")
val = Dataset(pd.DataFrame(data=val_data), label="col2", label_type="classification_label")

It is recommended to initialize Dataset with categorical features by doing "Dataset(df, cat_features=categorical_list)". No categorical features were passed, therefore heuristically inferring categorical features in the data.
0 categorical features were inferred
It is recommended to initialize Dataset with categorical features by doing "Dataset(df, cat_features=categorical_list)". No categorical features were passed, therefore heuristically inferring categorical features in the data.
0 categorical features were inferred

In [8]:
NewLabelTrainTest().run(test, val)

VBox(children=(HTML(value='<h4><b>New Label Train Test</b></h4>'), HTML(value='<p>Find new labels in test.</p>…