In [1]:
import pandas as pd

from deepchecks.tabular.checks import SpecialCharacters

In [3]:
data = {'col1': [' ', '!', '"', '#', '$', '%', '&', '\'','(', ')',
                 '*', '+', ',', '-', '.', '/', ':', ';', '<', '=',
                 '>', '?', '@', '[', ']', '\\', '^', '_', '`', '{',
                 '}', '|', '~', '\n'],
        'col2':['v', 'v', 'v', 'v4', 'v5', 'v6', 'v7', 'v8','v9','v10',
                 '*', '+', ',', '-', '.', '/', ':', ';', '<', '=',
                 '>', '?', '@', '[', ']', '\\', '^', '_', '`', '{',
                 '}', '|', '~', '\n'],
        'col3': [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,11,1,'???#',1,1,1,1,1,1,1,1,1,1,1],
        'col4': [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,11,1,1,1,1,1,1,1,1,1,1,1,1,1],
        'col5': ['valid1','valid2','valid3','valid4','valid5','valid6','valid7',
                 'valid8','valid9','valid10','valid11','valid12',
                'valid13','valid14','inval!d15','valid16','valid17','valid18',
                 'valid19','valid20','valid21','valid22','valid23','valid24','valid25',
                'valid26', 'valid27','valid28','valid29','valid30','valid31','32','33','34']}


dataframe = pd.DataFrame(data=data)

In [5]:
dataframe

   col1 col2  col3  col4       col5
0          v     1     1     valid1
1     !    v     1     1     valid2
2     "    v     1     1     valid3
3     #   v4     1     1     valid4
4     $   v5     1     1     valid5
5     %   v6     1     1     valid6
6     &   v7     1     1     valid7
7     '   v8     1     1     valid8
8     (   v9     1     1     valid9
9     )  v10     1     1    valid10
10    *    *     1     1    valid11
11    +    +     1     1    valid12
12    ,    ,     1     1    valid13
13    -    -     1     1    valid14
14    .    .     1     1  inval!d15
15    /    /     1     1    valid16
16    :    :     1     1    valid17
17    ;    ;     1     1    valid18
18    <    <     1     1    valid19
19    =    =     1     1    valid20
20    >    >    11    11    valid21
21    ?    ?     1     1    valid22
22    @    @  ???#     1    valid23
23    [    [     1     1    valid24
24    ]    ]     1     1    valid25
25    \    \     1     1    valid26
26    ^    ^     1     1    valid27
27    _    _     1     1    valid28
28    `    `     1     1    valid29
29    {    {     1     1    valid30
30    }    }     1     1    valid31
31    |    |     1     1         32
32    ~    ~     1     1         33
33   \n   \n     1     1         34

#### Check for Special Characters

In [4]:
SpecialCharacters().run(dataframe)

Received a "pandas.DataFrame" instance, initializing "deepchecks.tabular.Dataset" from it
It is recommended to initialize Dataset with categorical features by doing "Dataset(df, cat_features=categorical_list)". No categorical features were passed, therefore heuristically inferring categorical features in the data.
0 categorical features were inferred

VBox(children=(HTML(value='<h4><b>Special Characters</b></h4>'), HTML(value='<p>Search in column[s] for valuesâ€¦