In [2]:
import pandas as pd

from deepchecks.tabular.checks.integrity.string_length_out_of_bounds import  StringLengthOutOfBounds

In [3]:
col1 = ["aaaaa33", "aaaaaaa33"]*40
col1.append("a")
col1.append("aaaaaadsfasdfasdf")

col2 = ["b", "abc"]*41

col3 = ["a"]*80
col3.append("a"*100)
col3.append("a"*200)
# col1 and col3 contains outliers, col2 does not
df = pd.DataFrame({"col1":col1, "col2": col2, "col3": col3 })

In [4]:
df

                 col1 col2                                               col3
0             aaaaa33    b                                                  a
1           aaaaaaa33  abc                                                  a
2             aaaaa33    b                                                  a
3           aaaaaaa33  abc                                                  a
4             aaaaa33    b                                                  a
..                ...  ...                                                ...
77          aaaaaaa33  abc                                                  a
78            aaaaa33    b                                                  a
79          aaaaaaa33  abc                                                  a
80                  a    b  aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...
81  aaaaaadsfasdfasdf  abc  aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...

[82 rows x 3 columns]

#### Check for String lenght out of bounds

In [5]:
StringLengthOutOfBounds(min_unique_value_ratio=0.01).run(df)

Received a "pandas.DataFrame" instance, initializing "deepchecks.tabular.Dataset" from it
It is recommended to initialize Dataset with categorical features by doing "Dataset(df, cat_features=categorical_list)". No categorical features were passed, therefore heuristically inferring categorical features in the data.
0 categorical features were inferred

VBox(children=(HTML(value='<h4><b>String Length Out Of Bounds</b></h4>'), HTML(value='<p>Detect strings with l…